{% extends 'baselogin.html' %} 
{% block title %} Patient Details{% endblock title %} 
{% block form %}
  <h2>Patient Details</h2>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <div class="container">
    <div class="row" style="border: 1px dotted black;">
      <div class="col-md-4"></div>
  
      <div class="col-md-9">
        <h1>Patient Details</h1>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
  
        <div class="card p-3" style="padding-top: 10px;">
          <div class="row">
            <div class="col-md-6">
              <p>SRFID: {{ data.srfid }}</p>
              <p>Bed Type: {{ data.bedtype }}</p>
              <p>Hospital Code: {{ data.hcode }}</p>
            </div>
            <div class="col-md-6">
              <p>Oxygen level: {{ data.spo2 }}</p>
              <p>Patient Name: {{ data.pname }}</p>
              <p>Phone No.: {{ data.pphone }}</p>
              <p>Address: {{ data.paddress }}</p>
            </div>
            <div class="col-md-12 text-right">
              <a href="/pdetails/specialties">
              <button class="btn btn-danger" style="color: white;">Consult Doctor</button></a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4"></div>
    </div>
  </div>
  

  <div class="chatbox" style="position: fixed; style="z-index: 9999;">
    <div class="chatbox__support">
      <div class="chatbox__header">
        <div class="chatbox__image--header">
          <img
            src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
            alt="image"
          />
        </div>
        <div class="chatbox__content--header">
          <h4 class="chatbox__heading--header">Chat support</h4>
          <p class="chatbox__description--header" style="color: white;">
            Hi. My name is Sam. How can I help you?
          </p>
        </div>
      </div>
      <div class="chatbox__messages">
        <div></div>
      </div>
      <div class="chatbox__footer">
        <input type="text" placeholder="Write a message..." />
        <button class="chatbox__send--footer send__button">Send</button>
      </div>
    </div>
    <div class="chatbox__button">
      <button>
        <img
          src="{{ url_for('static', filename='images/chatbox-icon.svg') }}"
        />
      </button>
    </div>
  </div>

  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
  </script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='main.js') }}"
  ></script>

{% endblock form %}
