<h3 style="background: skyblue; color: #fff; font-weight: bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);">{{numrows}} Records Found</h3>
<table class="table table-striped custab">
  <thead>
      <tr>
         <th>Name</th>
         <th>Email</th>
         <th>Pathology Center</th>
         <th>Address</th>
      </tr>
  </thead>
  <tbody>
{% for row in user %}  
   <tr>
    <td>{{row.doctors.name}}</td>
    <td>{{row.doctors.email}}</td>
    <td>{{row.hname}}</td>
    <td>{{row.doctors.address}}, {{row.doctors.city}}</td>
   </tr>
{% endfor %} 

