<!DOCTYPE html>
<html>
  <head>
    <style>
      .question {
        display: none;
      }
    </style>
    <style>
      .assessmentList {
        position: relative;
        display: inline-block;
        cursor: pointer;
      }

      .imgBx {
        position: relative;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        transition: border-color 0.2s ease-in-out;
        pointer-events: none;
      }

      .selected .checkmark {
        border-color: #00b4d8;
      }
    </style>
  </head>
  <body>
    <h1>Questionnaire</h1>

    <form id="questionForm" , action="/symptoms" , method="post">
      <div class="question">
        <div class="jss50">
          <p class="singleChat">Is this for self or someone else?</p>
        </div>
        <div class="">
          <div class="jss46">
            <div class="assessmentList" data-value="self">
              <div class="imgBx">
                <img
                  src="https://newassets.apollo247.com/images/myself.svg"
                  alt=""
                  height="58px"
                  width="80px"
                />
                <div class="checkmark"></div>
              </div>
              <p class="txt">self</p>
            </div>
            <div class="assessmentList" data-value="other">
              <div class="imgBx">
                <img
                  src="https://newassets.apollo247.com/images/someoneElse.svg"
                  alt=""
                  height="58px"
                  width="80px"
                />
                <div class="checkmark"></div>
              </div>
              <p class="txt">other</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="question">
        <div class="jss50">
          <p class="singleChat">Please select gender</p>
        </div>
        <div class="">
          <div class="jss46">
            <div class="assessmentList">
              <div class="imgBx">
                <img
                  src="https://newassets.apollo247.com/images/male.svg"
                  alt=""
                  height="58px"
                  width="80px"
                  onclick="selectGender('male')"
                />
                <div id="maleCheckmark" class="checkmark"></div>
              </div>
              <p class="txt">Male</p>
            </div>
            <div class="assessmentList">
              <div class="imgBx">
                <img
                  src="https://newassets.apollo247.com/images/female.svg"
                  alt=""
                  height="58px"
                  width="80px"
                  onclick="selectGender('female')"
                />
                <div id="femaleCheckmark" class="checkmark"></div>
              </div>
              <p class="txt">Female</p>
            </div>
          </div>
        </div>
      </div>


      <div class="question">
  <div class="jss50">
    <p class="singleChat">Please enter age</p>
  </div>
  <div class="">
    <div class="jss61">
      <input
        id="ageInput"
        class="inputBx inputDate"
        type="number"
        min="0"
        max="99"
        placeholder="25 years"
        maxlength="2"
      />
      
    </div>
  </div>
</div>

      <!-- Add more questions here -->

      <input type="submit" value="Submit" />
    </form>

    <script>
      var form = document.getElementById("questionForm");
      var questions = form.getElementsByClassName("question");
      var currentQuestion = 0;

      function showNextQuestion() {
        questions[currentQuestion].style.display = "none";
        currentQuestion++;

        if (currentQuestion < questions.length) {
          questions[currentQuestion].style.display = "block";
          questions[currentQuestion].scrollIntoView({
            behavior: "smooth",
            block: "start",
          });
        }
      }

      form.addEventListener("submit", function (event) {
        event.preventDefault();
        showNextQuestion();
      });

      questions[currentQuestion].style.display = "block";
    </script>

    <script>
      var assessmentList = document.getElementsByClassName("assessmentList");
      for (var i = 0; i < assessmentList.length; i++) {
        assessmentList[i].addEventListener("click", function () {
          var selected = document.querySelector(".assessmentList.selected");
          if (selected) {
            selected.classList.remove("selected");
          }
          this.classList.add("selected");
        });
      }
    </script>
  </body>
</html>
